<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || "Your App name" %></title>
  <meta name="description" content="<%= (yield(:description) || "").squish %>">

</head>
<body>
  <!-- [...] -->

  <%= javascript_include_tag 'application' %>
  <%= yield(:after_js) %>
</body>
</html>
